* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

article {
  margin-top: 60px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

article + article {
  border-top: 2px solid lightgray;
}

section {
  margin: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sedgwick Ave", cursive;
}

h2 {
  position: relative;
  left: -24px;
}

.header {
  text-align: center;
  background-color: mediumseagreen;
  padding: 50px 25px;
  position: relative;
}

.nav {
  margin: 12px;
  color: whitesmoke;
}

.nav:hover {
  color: palevioletred;
}

.nav:active {
  background-color: hotpink;
}

::selection {
  background-color: black;
  color: white;
}

.profession::after {
  content: " 👩🏻‍💻";
}

.call-name::after {
  content: " 🙋🏻‍♀️";
}

ol li,
.contact,
.call-name {
  text-decoration: none;
  font-style: normal;
}

.contact {
  text-decoration: underline;
  color: darkgreen;
}

.contact:hover {
  color: palevioletred;
}

.contact:active {
  color: hotpink;
}

.experience {
  display: inline-block;
}

aside {
  position: absolute;
  top: 12px;
  right: 12px;
  font-style: inherit;
  font-size: 20px;
  background-color: midnightblue;
  padding: 12px;
  border-radius: 10px;
  color: white;
}
