* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

article {
  margin: 100px;
}

article + article {
  border-top: 2px solid lightgray;
}

section {
  margin: 50px;
}

.header {
  text-align: center;
  background-color: mediumseagreen;
  padding: 50px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sedgwick Ave", cursive;
}

nav a {
  margin: 12px;
  color: whitesmoke;
}

nav a:hover {
  color: darkgreen;
}

nav a:active {
  background-color: darkgreen;
}
