*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background-color-element: #81b29a;
  --background-color-interaction: #3d405b;
  --background-color-active: #f2cc8f;
  --color-highlight: darkgreen;
  --color-interaction: #2980b9;
  --color-focus: #e07a5f;
  --page-background-color: black;
  --page-text-color: #f4f1de;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  max-width: 65ch;
  margin: 0 auto;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sedgwick Ave", cursive;
}

h1 {
  font-size: 1em;
  color: var(--page-text-color);
}

h2 {
  position: relative;
  left: -0.3rem;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

i,
em {
  font-style: unset;
  color: var(--color-highlight);
}

article {
  background-image: linear-gradient(to right, midnightblue, mediumseagreen);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 5px;
  padding: 2em 0.5em 0 0.5em;
}

article:first-of-type {
  background-image: none;
}

article + article {
  margin-top: 10em;
}

section {
  margin: 0.5rem;
}

.page-header {
  border: 2px solid black;
  text-align: center;
  background-image: linear-gradient(30deg, midnightblue, mediumseagreen);
  padding: 4em 1em 2em 1em;
  position: relative;
  margin-bottom: 5rem;
}

.page-title {
  font-size: 3.5rem;
}

.flex-container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  color: var(--page-text-color);
  font-size: 1em;
  padding: 0.25rem;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.nav:focus {
  color: var(--color-focus);
  background-color: var(--background-color-active);
}

.nav:hover {
  color: var(--color-interaction);
  background-color: var(--page-text-color);
}

.nav:active {
  color: var(--page-text-color);
  background-color: var(--background-color-interaction);
}

.flex-container-experience {
  display: flex;
  flex-direction: column;
}

.profession::after {
  content: " 👩🏻‍💻";
}

.profession {
  font-size: 0.25em;
  color: var(--page-text-color);
}

.hire-badge {
  position: absolute;
  top: 1em;
  right: 1em;
  font-style: inherit;
  font-size: inherit;
  background-color: var(--background-color-interaction);
  padding: 1em;
  border-radius: 0.5em;
  color: white;
  transition: 1s ease;
}

.page-header:hover .hire-badge {
  transform: scale(1.3);
}

.page-header:focus-within .hire-badge {
  transform: scale(1.3);
}

.call-name::after {
  content: " 🙋🏻‍♀️";
}

ol li,
.contact,
.call-name {
  text-decoration: none;
  font-style: normal;
}

.contact {
  text-decoration: underline;
  color: var(--color-highlight);
}

.contact:hover {
  color: var(--color-interaction);
}

.contact:active {
  background-color: var(--background-color-interaction);
}

.page-footer {
  background-color: var(--background-color-element);
  margin-top: 5em;
  padding: 5em;
}

.footer-text {
  text-align: center;
  color: var(--page-text-color);
}

::selection {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }

  .article:first-of-type {
    margin-top: 1rem;
  }

  article + article {
    margin-top: 5rem;
  }

  .flex-container-nav {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .flex-container-experience {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  .hire-badge {
    position: fixed;
    top: 1em;
    right: 1em;
  }

  article + article {
    margin-top: 5em;
  }
}

@media print {
  .nav {
    display: none;
  }

  .hire-badge {
    display: none;
  }
}

@media screen and (prefers-color-scheme: dark) {
  main,
  body {
    background-color: var(--page-background-color);
    color: var(--page-text-color);
  }
}
